body {
    background-color: lightgray;
}

/* formu <div> inner */
.inner {
    width: 99%;
    /* max-width: 1060px; */
    margin: 10px auto 10px auto;
}

/* forma cars */
.cars {
    width: 49%;
    display: inline-block;
    text-align: center;
    border: solid 2px black;
    vertical-align: bottom;
    background-color: rgb(203, 229, 54);

}
.cars fieldset {
    border: solid 1px black;
    background-color: rgb(203, 229, 54);
    margin:5px 5px 0px 5px; 
    padding:5px;
}
.cars legend {
    font-weight: 600;
}
.carsleft {
    display: inline-block;
    margin-bottom: 2px;
}
.carsright {
    display: inline-block;
    margin-bottom: 2px;
}
.cars p {
  text-align: right;
}
.cars label {
    vertical-align: middle;
    font-size: 16px;
}
.cars input {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

button {
    font-size: 16px;
    margin: 5px;
}

/* forma drivers */
.drivers {
    width: 26%;
    display: inline-block;
    border: solid 2px black;
    text-align: center;
    background-color:gold;
}
.drivers fieldset {
    border: solid 1px black;
    background-color: gold;
    margin:5px 5px 5px 5px;
    padding:5px;
}
.drivers legend {
    font-weight: 600;
}
.drivers p {
    text-align: right;
}
.drivers label {
    vertical-align: middle;
    font-size: 15px;
}
.drivers input {
    vertical-align: middle;
    font-size: 16px;
}

/* susiejimo forma */
.relate {
    width: 23%;
    display: inline-block;
    border: solid 2px black;
    text-align: center;
    background-color:rgb(243, 92, 87);
    vertical-align: bottom;
}
.relate fieldset {
    border: solid 1px black;
    background-color: rgb(243, 92, 87);;
    margin:5px 5px 5px 5px;
    padding:10px;
}
.relate legend {
    font-weight: 600;
}
.relate label {
    font-size: 16px;
}
.relate .rel {
    line-height: 1.8;
}
.relate select {
    font-size: 16px;
}
.relate select option {
    font-size: 16px;
}

/* lenteles */
.inner .tableform table {
    border: 2px solid black;
    text-align:center;
    width:100%;
}
.inner .tableform table th {
    border: 1px solid black;
    background-color: aqua;
    line-height: 2;
    font-weight: 600;
    font-size: 18px;
}
.inner .tableform table td {
    border: 1px solid black;
    font-size: 18px;
    line-height: 1.5;
}

/* puslapiavimo forma */
.pslform {
    text-align: center;
}